name: Deploy Web (QA)

on:
  push:
    branches: [main]
jobs:
  deploy-flutter:
    runs-on: ubuntu-latest
    timeout-minutes: 30
    permissions:
      contents: write
    steps:
      - name: Clone repository
        uses: actions/checkout@v4
        with:
          submodules: recursive
      
      - name: Set up Flutter
        uses: subosito/flutter-action@v2
        with:
          channel: master
      
      - name: Install dependencies
        run: flutter pub get
      
      - name: Build and deploy Web to pages
        uses: OpenBonfire/flutter-gh-pages@main
        with:
          baseHref: /
          compileToWasm: true
          customArgs: --release --source-maps --no-tree-shake-icons
          targetBranch: pages
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
